@import "tailwindcss";

$primary : #7854F7;
$secondary : #272D4E;

@font-face {
    font-family: "IRANSansWeb_FaNum";
    src: url("/font/IRANSansWeb_FaNum.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
}

body{
    font-family: "IRANSansWeb_FaNum";
}

.text-primary {
    color: $primary;
}